<html>
<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'fp_app/img/logo.ico' %}"/>
    <link rel="stylesheet" href="{% static  'fp_app/css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/2ce17f4bde.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
    <title>
        {% block title %} Function Points {% endblock %}
    </title>
</head>
<body>
    <div class="container-fluid">
        {% block navbar %}
            {% include 'nav.html' %}
        {% endblock %}

        {%  block content %}
        {%  endblock %}
    </div>
    <script src="{% static 'fp_app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="{% static 'fp_app/js/gijgo/core.js' %}"></script>
    <script src="{% static 'fp_app/js/gijgo/datepicker.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
            integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
    <script src="{%  static 'fp_app/js/spin.js' %}"></script>
    <script src="{%  static 'fp_app/js/jquery.spin.js'%}"></script>
    <script src="{%  static 'fp_app/js/jquery.blockUI.js'%}"></script>

    <div id="spinner-div"></div>

     {%  block js-hack %}
     {% endblock %}

    <script>
        function loadingSpinner(){
            $('#spinner-div').spin(
                       {
                           'lines': 13,
                           'length': 28,
                           'width': 14,
                           'radius': 42,
                           'scale': 1.75,
                           'corners': 0.1,
                           'opacity': 0.25,
                           'rotate': 0,
                           'direction': 1,
                           'speed': 1.0,
                           'trail': 60,
                           'color': '#ffffff',
                       }
                   );

             $.blockUI({'message': null});
        }

        $(document).ready(
            function() {

               $('[data-toggle="tooltip"]').tooltip();

               $('form').submit(loadingSpinner);
               $('a.page-link, a[href*="/"]').click(loadingSpinner);
            });
    </script>
</body>
</html>