{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="row align-content-md-center">
        <div class="col"></div>
        <div class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title">Alert!</h5>
                <form method="post">
                    {% csrf_token %}
                    <p class="card-text">Are you sure you want to delete "{{ object }}"?</p>
                <input class='btn btn-danger' type="submit" value="Confirm">
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}