{% extends 'base.html' %}

{% load model_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <dl class="row">
    {% for name, value in fields_name_and_value %}

       {% if value and name != 'ID' and name not in exclude_fields|default:"|" %}
            <dt class="p-2 my-1 col-sm-2 col-lg-1 font-weight-bold bg-dark text-white">{{name}}</dt>
            <dd class="p-2 col-sm-10 col-lg-11 my-auto">{{value}}</dd>
        {% endif %}

    {% endfor %}
    </dl>

    <a class="btn btn-primary btn-sm" href="{{ index_url }}">{%  model_name view %}&nbsp;List</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url update_url_str  object.id %}">Edit</a>

{% endblock %}
