{% extends 'base.html' %}

{% load crispy_forms_tags %}

{{  form.media }}

{% block title %}{{ title }} {% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
        <button type="reset" class="btn btn-sm btn-outline-secondary">Clear</button>
    </form>
{% endblock %}

{% block js-hack %}
<script>
    $(document).ready(function(){
        //small controls in the filter form
        $('.form-control').addClass('form-control-sm');

        //moment().locale(['pt-br']);
        $('.datepicker').datepicker({
            //locale: 'pt-br',
            //format: 'dd/mm/YYYY',
            uiLibrary: 'bootstrap4',
            size: 'default',
            iconsLibrary: 'fontawesome',
            value: moment().format("L"),
            rightIcon: '<i class="fas fa-calendar-alt"></i>'
        });

        // disabling fields
        {% for field in form %}
            {% if field.name in disabled_fields|default:0 %}
                $('#{{ field.id_for_label }}').prop('disabled', 'disabled');
            {% endif %}
            {% if field.name in readonly_fields|default:0 %}
                $('#{{ field.id_for_label }}').prop('readonly', 'true');
            {% endif %}
        {% endfor %}

    });
</script>
{% endblock %}