{%  extends 'base.html' %}

{% load render_table from django_tables2 %}

{% load crispy_forms_tags %}

{% block title %} {{ title }} {% endblock %}


{% block content %}
    <h1>{{ title }}</h1>
            <form method="get">
                {% csrf_token %}
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filter" role="button">Filter</a>
                <a class="btn btn-outline-primary btn-sm" href="{{ create_url }}">New</a>
                {% if has_filter %}
                    <div class="collapse.show" id="filter">
                {% else %}
                    <div class="collapse" id="filter">
                {% endif %}


                {% for field in filter.form %}
                    {% if forloop.counter0 == 0 %}
                        <div class="row">
                    {% elif forloop.counter0|divisibleby:2 and forloop.counter < filter.form.fields|length %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% if forloop.counter == filter.form.fields|length %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-sm-6">{{ field | as_crispy_field }}</div>
                        {% else %}
                            <div class="col-sm-12">{{ field | as_crispy_field }}</div>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="col-sm-6">{{ field | as_crispy_field }}</div>
                    {%  endif  %}
                {% endfor %}

{#                    {{ filter.form | crispy }}#}
                    <button type="submit" class="btn btn-outline-success btn-sm">Search</button>
                    <input type="reset" class="btn btn-outline-secondary btn-sm" value="Clear fields">
                    {% if has_filter %}
                        <a href="{{ self_url }}" class="btn btn-outline-warning btn-sm">Reset Filter</a>
                    {% endif %}
                </div>

            </form>
    {%  render_table table %}
{%  endblock %}

{% block js-hack %}
<script>
    $(document).ready(function(){
        //small controls in the filter form
        $('.form-control').addClass('form-control-sm');
        $('.dateinput').datepicker({
            //locale: 'pt-br',
            //format: 'dd/mm/YYYY',
            uiLibrary: 'bootstrap4',
            size: 'default',
            iconsLibrary: 'fontawesome',
            value: moment().format("L"),
            rightIcon: '<i class="fas fa-calendar-alt"></i>'
        });
    });
</script>
{% endblock %}