{% extends 'base.html' %}
{% load static %}

{% block head %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}

{% block navbar %}
<style>
    body > div {
        background: url({{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'fp_app/img/background-image2.jpg' %}) no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
        width: 100vw;
    }
 </style>
{% endblock %}

{%  block content %}
    <div class="row h-100">

        <div class="col mt-md-5">
                <table>
                    <tr>
                        <td style="width: 25%; max-width: 48px">
                            <img src="{% static 'fp_app/img/logo.png' %}" class='w-100'>
                        </td>
                        <td>
                             <h3 class="text-white">Function Point Analysis</h3>
                            <span class="my-0"><a class="text-white" href="http://mangeli.com.br">http://mangeli.com.br</a></span>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="col-md-6 col-lg-4 my-auto h-auto">
            <div class="card my-md-5 bg-primary text-white">
                <div class="card-header">
                    <h3 class="text-white">Login</h3>
                </div>
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuário</label>
                        <input type="email" class="form-control form-control-sm" id="user" aria-describedby="userHelp" placeholder="nome de usuário">
                        {%  comment %}<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>{%  endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Senha</label>
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Senha">
                    </div>

                        {% comment %}
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                    </div>
                        {% endcomment %}
                     <div class="text-right">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Enviar</button>
                     </div>
                </form>
                </div>
            </div>
        </div>
    </div>
<a style="position:fixed;bottom:0;right:0;background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@lorenzoherrera?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Lorenzo Herrera">Image: Lorenzo Herrera</span><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px"></a>
{%  endblock %}

 {%  block js-hack %}

 {% endblock %}