{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0 mb-sm-3">
    <a class="navbar-brand" href="{% url 'fp_app:index' %}">
        <img src="{% static 'fp_app/img/logo.png' %}" width="30">
{#        FP#}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Working Area
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'fp_app:counting_index' %}">Manage Counts Ref.</a>
                    <a class="dropdown-item" href="#">Populate Count</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Area
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'fp_app:client_index' %}">Client</a>
                    <a class="dropdown-item" href="{% url 'fp_app:project_index' %}">Project</a>
                    <a class="dropdown-item" href="{% url 'fp_app:boundary_index' %}">Boundary</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'fp_app:data_function_index' %}">Data Function</a>
                    <a class="dropdown-item" href="{% url 'fp_app:transactional_function_index' %}">Transactional Function</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'fp_app:counting_index' %}">Counting Ref.</a>
                    <a class="dropdown-item" href="{% url 'fp_app:operation_index' %}">Operation</a>
                </div>
            </li>


        </ul>
    </div>
</nav>